body,html
{
	height: 100%;
	margin:0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}

.pimg1, .pimg2, .pimg3
{
	position: relative;
	/* chce, by obrazki były wyśrodkowane */
	background-position: center;
	/*chce, by background był pokyty całym obrazkiem */
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.7;

	/*tutaj zaczyna sie czesc z ddawaniem paralaxy
	, jeżeli chce usunac ten efekt, to po prostu dodaje 'scroll' */
	background-attachment: fixed;
}
.pimg1
{
	background-image: url('img/image1.jpg');
	min-height: 100%;
}
.pimg2
{
	background-image: url('img/image2.jpg');
	min-height: 400px;
}
.pimg3
{
	background-image: url('img/image3.jpg');
	min-height: 400px;
}

.section
{
	text-align: center;
	padding: 50px 80px;
}
.section-light{
	background-color: #f4f4f4;
	color: #666;
}
.section-dark{
	background-color: #282e34;
	color: #ddd;
}

.ptext{
	position: absolute;
	/*genialny sposób na wycentrowanie - ustawiam odległosć na 50% od góry kontenera 
	i potem szerokosc na 100% i potem text-align: center; */
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 28px;
	letter-spacing: 8px;
	text-transform: uppercase;

}

.ptext .border{
	background-color: #111;
	color: #fff;
	padding: 20px;

}

.ptext .border.trans{
	background-color: transparent;

}

@media(max-width:568px){
	.pimg1, .pimg2, .pimg3{
		background-attachment: scroll;
	}
}